{{ define "title" }}JAMstack Themes{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.description }}" />
<meta property="og:title" content="JAMstack Themes" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.jamstackthemes.dev" />
<meta property="og:description" content="{{ .Site.Params.description }}" />
<meta property="og:image" content="https://jamstackthemes.dev/images/jamstackthemes-screenshot.png">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@stackbithq" />
<meta name="twitter:creator" content="@stackbithq" />
{{ end }}

{{ define "main" }}
{{ $themes := (where .Site.RegularPages "Type" "theme") }}
{{ $themes := (where $themes ".Params.draft" "!=" true) }}
{{ $themeCount := len $themes}}

<div class="sidebar">
  <div class="blurb blurb-desktop">
    <p>A list of Themes and Starters for <a href="https://jamstack.org/" target="_blank" rel="noopener">JAMstack</a> sites.</p>
  </div>
  {{ partial "filters.html" . }}
  {{ partial "stackbit.html" . }}
</div>
<div class="main">
  
  <div class="intro">
    <h1>Themes <span class="count">(<span class="count-number">{{ $themeCount }}</span>)</span></h1>
    <div class="blurb blurb-mobile">
      <p>A list of Themes and Starters for <a href="https://jamstack.org/" target="_blank" rel="noopener">JAMstack</a> sites.</p>
    </div>
    {{ partial "sort-buttons.html" . }}
  </div>
  <div id="grids-homepage" class="grids">
    {{ range $themes.ByPublishDate.Reverse }}
    {{ $repoName := printf "%s-%s" (substr (replace .Params.github "/" "-") 19 | urlize) .Params.github_branch }}
    {{ $repo := index .Site.Data.themes $repoName }}
      {{/*  {{ if eq $repo.stale false }}  */}}
        {{ partial "theme-card.html" (dict "theme" . "repo" $repo) }}
      {{/*  {{ end }}  */}}
    {{ end }}
  </div>
</div>
{{ end }}

{{ define "footer_js" }}
{{ $filterHomepage := resources.Get "js/filter.js" }}
{{ $bundle := slice $filterHomepage | resources.Concat "js/filterHomepage.js" }}
{{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $bundle.RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($bundle | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}
{{ end }}